<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>-->
        <!--&lt;!&ndash;把数据库的下划线改为驼峰命名法&ndash;&gt;-->
         <!--&lt;!&ndash;<setting name="mapUnderscoreToCamelCase " value="true"/>&ndash;&gt;-->
        <!--&lt;!&ndash;打印日志&ndash;&gt;-->
        <!--&lt;!&ndash;<setting name="logImpl" value="LOG4J"></setting>&ndash;&gt;-->
     <!--</settings>-->

    <!--缓存-->
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <!--驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="SLF4J" />
    </settings>

</configuration>